
.form__inputButton {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
    background: white;
    margin: -16px 0 0;
}

.form__input {
    flex-basis: 100%;
    padding: 8px;
    border: 1px solid #e7e5e5;
    margin: 5px 0;
}

.form__button {
    flex-wrap: wrap;
    flex-basis: 100%;
    background-color: teal;
    color: white;
    border: none;
    padding: 8px;
    margin: 5px 0;
}

@media (min-width:768px) {
    .form__input {
        flex-basis: 78%;
    }

    .form__button {
        flex-basis: 20%;
        flex-wrap: unset;
    }
}
