.form__taskList {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 30px;
    font-weight: 900;
}

.form_addTask {
    display: flex;
    background-color: white;
    padding: 17px;
    border-bottom: 2px solid #e7e5e5;
    font-weight: 900;
}

.form__list {
    display: flex;
    background: white;
    padding: 14px;
    margin-top: -10px;
    padding: 14px;
    font-weight: 900;

}
