.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
    background: white;
    margin: -16px 0 0;
}

.section__input {
    flex-basis: 100%;
    padding: 8px;
    border: 1px solid #e7e5e5;
    margin: 5px 0;
}

.section__button {
    flex-wrap: wrap;
    flex-basis: 100%;
    background-color: teal;
    color: white;
    border: none;
    padding: 8px;
    margin: 5px 0;
    cursor: pointer;
    transition:1s;
}

.section__button:hover {
    background-color: hsl(180, 100%, 30%)
}

@media (min-width:768px) {
    .section__input {
        flex-basis: 78%;
    }

    .section__button {
        flex-basis: 20%;
        flex-wrap: unset;
    }
}