.header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 20px;
    font-weight: 900;
}

.section {
    display: flex;
    background-color: white;
    padding: 14px;
    border-bottom: 2px solid #e7e5e5;

}

.header__list {
    background: white;
    font-weight: 900;
    margin-left: 20px;
}

.section__header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background: white;
    margin: 7px 0 1px;

}

