html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}


body {
    font-family: 'Lato', sans-serif;
    background-color: #e7e5e5;
    font-weight: bold;

}

.task__conteiner {
    margin: 50px auto;
    max-width: 700px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;

}



.form__taskList {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 30px;
}

.form_addTask {
    display: flex;
    background-color: white;
    padding: 17px;
    border-bottom: 2px solid #e7e5e5;


}

.form__inputButton {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
    background: white;
    margin: -16px 0 0;


}

.form__input {
    flex-basis: 100%;
    padding: 8px;
    border: 1px solid #e7e5e5;
    margin: 5px 0;

}

.form__button {
    flex-wrap: wrap;
    flex-basis: 100%;
    background-color: teal;
    color: white;
    border: none;
    padding: 8px;
    margin: 5px 0;

}

@media (min-width:768px) {
    .form__input {
        flex-basis: 78%;
    }

    .form__button {
        flex-basis: 20%;
        flex-wrap: unset;


    }
}

.form__list {
    display: flex;
    background: white;
    padding: 14px;
    margin-top: -10px;
    padding: 17px;

}

.form__task {
    background: white;
    padding: 30px;
    margin-top: -14px;
    padding: 0 30px 0;
}




.taskWall {
    display: grid;
    grid-template-columns: 30px auto 30px;
    grid-auto-rows: 100px;
    grid-gap: 10px;
    word-break: break-word;
    
}

.taskRemove--button {
    width: 20px;
    height: 20px;
    background-color:  #f02b2b;
    grid-column: 3;
    justify-self: end;
    align-self: center;
    background-image: url("https://cdn-icons-png.flaticon.com/512/59/59600.png");
    background-size: 15px;
    
}

.taskDone--button{
    
    background-image:śmieci;

    width: 20px;
    height: 20px;
    justify-self: start;
    align-self: center;
}



.list__item {
    
    border-bottom: 1px solid #e7e5e5;
}

.text {
    justify-self: start;
    align-self: center;
}
.list__item--done {
    text-decoration: line-through;
}