.tasks__display {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    word-break: break-word;
    border-bottom: 1px solid #e7e5e5;
    padding: 10px;
}

.tasks__display--hidden {
    display: none;
}

.task__list {
    background: white;
    margin-top: -14px;
    padding: 0 10px 0;

}

.task__remove--button {
    width: 30px;
    height: 30px;
    background-color: hsl(0, 87%, 55%);
    grid-column: 3;
    justify-self: end;
    align-self: center;
    color: white;
    border: none;
    cursor: pointer;
    transition: 1s;
}

.task__remove--button:hover {
    background-color: hsl(0, 87%, 65%);
}

.task__done--button {
    width: 30px;
    height: 30px;
    justify-self: start;
    align-self: center;
    background-color: hsl(120, 100%, 25%);
    color: white;
    border: none;
    cursor: pointer;
    transition: 1s;

}

.task__done--button:hover {
    background-color: hsl(120, 100%, 30%);
}

.list__item {
    justify-self: start;
    align-self: center;
    color: hsl(0, 1%, 42%);
    font-style: normal;
}

.list__item--done {
    text-decoration: line-through;
}

.task {
    margin:15px auto;
}



